<html>
    <head>
        <title>Django Firls blog</title>
    </head>
    <body>
        <div>
            <hl><a href="">KHU's blog</a></hl>
        </div>
        <div>
            <p>published: 14.06.2024</p>
            <h2><a href="">My first post</a></h2>
            <p> Aenean eu leo quam. Pellentesque orrnare sem lacinia quam venecatis vestibulum. Donec idelit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauis condimentum nibh, ut fermentum massa justo sit amet risus </p>
        </div>
        <div>
            <p>published: 14.06.2024</p>
            <h2><a href="">My second post</a></h2>
            <p> Aenean eu leo quam. Pellentesque orrnare sem lacinia quam venecatis vestibulum. Donec idelit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauis condimentum nibh, ut f </p>
        </div>
    </body>
</html>