body {
    font-family: 'Lobster', cursive;
}

.header {
    background-color: #FCA205;
    padding: 20px 10px;

}

.header h1 a {
    color: white;
    text-decoration: none;
}

.content {
    margin-top: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.post .date {
    font-size: 0.9em;
    color: #999;
}

.post h1 a {
    color: black;
    text-decoration: none;
}

.post p {
    font-size: 1.2em;
    line-height: 1.6em;
}
